*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
composer.phar
composer.lock
.env.*.php
.env.php
.env
*.exe
*.dll
*.zip
*.rar
*.log
*.bak
.env
!.env.example
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
